@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap');

/* @keyframes hamburger-slide {
    from {

    }

    to {

    }
} */

.navbar {
    background-color: #161717;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* font-family: 'Quicksand', sans-serif; */
    border-right: 2px solid gray;
    height: 100%;
    position: sticky;
    top: 0;
    /* overflow-x: hidden; */
}

.navbar-mobile {
    display: none;
    height: 100%;
}

.hamburger {
    height: 100%;
}

.hamburger-icons {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 2vh; */
    padding-right: 2vh;
    padding-left: 2vh;
    color: #b3ba45;
}

.hamburger-icons > img {
    width: 40vw;
    height: auto;
}

.nav-items-hamburger {
    position: fixed;
    top:10vh;
    left:0;
    z-index: 99999999;
    height: 90vh;
    width: 100%;
    display: flex;
    /* flex-direction: column; */
    justify-content: space-evenly;
    background-color: #161717;
}

.navHeader {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 15%;
}

.navItems {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 65%;
    padding: 10vh 0vh;
}

.navAuth {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20%;
}

ul {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding-left: 0;
    list-style-type: none;
    margin:0;
}

a {
    text-decoration: none;
    color:#c7c3bd;
}

a:hover {
    border-bottom: 1px solid #92AA83;
}

.logInButton {
    padding: 10px;
    border: 1px solid #92AA83;
    border-radius: 15%;
    background-color: #b3ba45;
    color: black;
}

@media (max-width: 768px) {

    /* Hide desktop navbar */
    .navbar-desktop {
        display: none;
    }

    /* Show mobile nav */
    .navbar-mobile {
        display: block;
    }

    h1 {
        font-size: 6vw;
    }

    .navbar {
        border-right: none;
    }
}