/* Css file for Exercise, ExerciseShort and ExerciseOverview */

/* Exercises Overview */

.exercises-overview {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 5vw;
    width: 100%;
}

.exercises-overview > h1 {
    margin:0;
}

.exercises-overview-util {
    display: flex;
    justify-content: space-between;
    width: 75%;
}

.exercises-overview-util > input[type=text] {
    background-color: #232728;
    background-image: url('/src/assets/search.png');
    background-repeat: no-repeat;
    background-position: 5%;
    background-size: 10%;
    border: 0px solid black;
    border-radius: 7px;
    padding-left: 12%;
    color: gray;
}

.add-exercise-btn {
    background-color: #232728;
    color: #b3ba45;
    border-radius: 50%;
    padding: 0.1rem;
}

.exercises-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 5vw;
    width: 75%;
    padding-bottom: 10vw;
}

/* Exercise short */

.exercise-short {
    border: 0px solid;
    border-radius: 0.7rem;
    box-sizing: border-box;
    width: 100%;
    height: 13vh;
    background-color: #232728;
}

.exercise-short-card {
    display: flex;
    /* width: 100%; */
    height: 100%;
}

.exercise-short-photo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35%;
}

.exercise-short-photo > img {
    max-width: 80%;
    max-height: 80%;
    border: 0px solid;
    border-radius: 0.6rem;
}

.exercise-short-content {
    width: 50%;
    font-size: 0.8rem;
}

.exercise-short-content > * > small {
    color: gray;
}

.exercise-card-action-btn {
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Exercise Detailed */

.exercise-detail {
    display: flex;
    justify-content: center;
    font-size: 0.8rem;
}

.exercise-card {
    width: 80%;
    height: fit-content;
    background-color: #232728;
    border-radius: 0.7rem;
    padding: 3.5vw;
}

.exercise-card > h1 {
    text-decoration: underline;
    font-size: 1rem;
}

.img-record {
    display: flex;
    justify-content: space-between;
}

.img-record > img {
    width: 50%;
    height: auto;
}

.record {
    background-color: #4a4c1c;
    height: fit-content;
    border-radius: 0.7rem;
    width: 40%;
    padding: 2vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 0.3rem;
}

.record > h5 {
    margin: 0;
    font-weight: 500;
}

.record > div {
    font-size: 0.8rem;
    display: flex;
    align-items: center;
    column-gap: 0.3rem;
}

.recordIcon {
    font-size: 0.5rem;
}

@media (min-width: 768px) {
    .exercises-list {
        width: 50%;
    }

    .exercises-overview-util {
        width: 50%;
    }
}