.customButton {
    color: white;
    border: solid transparent 1px;
    border-radius: 7px;
    padding: 0.4rem;
    background: #B2BA45;
    color: black;
    width: fit-content;
    font-family: 'Montserrat', sans-serif;
}