/* Schedule Overview */

.schedule-overview {
    padding: 2rem;
}


/* Week Schedule */

.week-schedule {
    background-color: #232728;
    padding: 1rem;
    border-radius: 1.2rem;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

/* Edit Schedule */

.edit-schedule {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}